<?xml version="1.0"?>
<appSettings>
  <!-- Web Setting -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="StorageAccountName" value="bazaarstorage" />
  <add key="StorageAccountAccessKey" value="Fpwhm/ZYojkF4jhTBDjcvc+Q6rP8ezKXdIdfy7mnDCjuY1PVMVxfupv7ibpLpqnsOF7V2HUNIGeCUSW4Iy2t4g==" />

</appSettings>
